__pycache__/
*.py[cod]
*$py.class

*.so

venv/
ENV/
env/
env.bak/
venv.bak/

.env

build/
dist/
*.egg-info/
.eggs/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache/
.hypothesis/

*.log
local_settings.py
db.sqlite3

instance/
.webassets-cache

.ipynb_checkpoints

target/

Pipfile.lock
poetry.lock

__pypackages__/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.mypy_cache/

.DS_Store

*.log

*~
*.swp

updatedcodes.txt
